/* dev styles */
* {
    font-family: 'Raleway', sans-serif;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
}

main {
    border: 5px solid red;
}
footer {
    border: 5px solid purple;
}
section {
    border: 5px solid green;
    height: 800px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
main {
    flex: 1;
  }

/* header styles */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

.link-list {
    display: flex;
    gap: 8px;
}

header {
    background-color: #bae6fd;
    box-shadow: 5px 5px 10px lightgrey;
    position: sticky;
    top: -12px;
}

/* text styles */

.title {
    font-weight: 900;
    color: black;
    font-size: 28px;
}

a:link {
    color: black;
}
a:visited {
    color: darkblue;
}